* {
    margin: 0;
    padding: 0;
    
    }


    body, html {
        height: 100%;
        cursor: url("https://i.im.ge/2021/11/08/oxO0JJ.png"), auto;
      }

     
      #root{
        
      height: 100%;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }

  